/* Define download button colors*/
.butt{
    background-color:green;
    color: white;
    font-weight: bold;
    font-size: 200%;}

/* Define next prev button colors */
.btn2{
    background-color:#1C5C90;
    color: white;
    font-weight: bold;
    font-size: 125%;
}

/* Define dark green*/                       
.bg-olive {background-color: #166433!important;}

/* Define light green */
.alert-success, .bg-green, .callout.callout-success, .label-success, .modal-success .modal-body {background-color: #38B449!important;}


/* Define yellow color */
.alert-warning, .bg-yellow, .callout.callout-warning, .label-warning, .modal-warning .modal-body {background-color: #ffd400!important;}
                        
/* Define orange */                        
.bg-orange {background-color: #F05A28!important;}

/* Define red*/
.alert-danger, .alert-error, .bg-red, .callout.callout-danger, .label-danger, .modal-danger .modal-body {background-color: #ED1C24!important;}

/* Define appearance of active tab*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #1C5C90;
    font-weight: bold;
    font-size: 125%;
}

/* Define appearance of innactive tab*/
.navbar-default .navbar-nav>li>a {
    color: #FFF;
    background-color: #1A7CBE;
    font-weight: bold;
    font-size: 125%;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    background-color: #1C5C90;
    font-weight: bold;
    font-size: 125%;
}

/* Define color of top bar*/
.skin-blue .main-header .navbar {
    background-color: #1A7CBE;
}

/* Define color of logo area*/
.skin-blue .main-header .logo {
    background-color: white;
    color: #fff;
    border-bottom: 0 solid transparent;
}

/*Define color of hober over logo area (same)*/
.skin-blue .main-header .logo:hover {
    background-color: #FFF;
}

/* Define color of toggle side bar*/
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #1C5C90;
}

/*Define background color of sidebar*/
.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #1c5c90;
    font-weight: bold;
}